//
// Variables
//

// Colors

$white: #fff;
$gray-100: #f5f6f7;
$gray-200: #eaebed;
$gray-300: #c4c8d0;
$gray-600: #848d9f;
$gray-800: #4a5569;
$gray-900: #2c3546;
$black: #1f2838;

$primary: #41b883;

// Layout

$header-height: 3.75rem;
$footer-height: 3.75rem;
$content-width: 62rem;
