//
// Common Styles
//

@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $gray-800;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: darken($primary, 10%);
  }
}

// Layout

.wrapper {
  display: grid;
  grid-template-rows: $header-height 1fr $footer-height;
  height: 100vh;
}

// Header

.site-header {
  border-bottom: 1px solid #eaebed;
}

.site-header-content {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.site-logo {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: $header-height;

  a {
    color: $black;
  }
}

.site-nav {
  margin-left: auto;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: inline;

      > a {
        display: inline-block;
        line-height: $header-height;
        padding: 0 0.5rem;
        color: $gray-800;
        text-decoration: none;
        transition: color 0.25s;

        &:hover,
        &.router-link-exact-active {
          color: $primary;
        }
      }
    }
  }
}

// Content

.content {
  padding: 2rem;
}

// Footer

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $gray-200;
  background-color: $gray-100;
}

// Misc

.container {
  margin: 0 auto;
  width: 100%;

  @media only screen and (min-width: 500px) {
    width: $content-width;
  }
}
